body{
    margin: 0;
    padding: 0;
    font-family: monospace;
    box-sizing: 0;
}

.header{
    display: flex;
    align-items: center;
    background-image: linear-gradient(to right, #572E59, #AA61AE);
    border: #572E59;
    height: 60px;
    width: 1280;
    box-shadow: 1px 2px 6px rgb(0, 0, 0, 40%);
    justify-content: center;
    
    img{
        margin-left: 10px;
    }
    
    p{
        font-size: 36px;
        font-weight: 800;
        color: #fff;
        margin-left: 10px;
    }
}